<h1>Add a new Dog to the Dog Park</h1>

<form action="/insertDog" method="POST">
  <input type="text" placeholder="name" name="dog_name"/>
  <input type="text" placeholder="breed"  name="dog_breed"/>
  <input type="text" placeholder="age" name="dog_age"/>
  <input type="submit" value="Add Dog"/>
</form>